.da-slide{
	position: relative;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img{
	position: absolute;
	opacity: 1;
	right: 0;
}
/*.da-dots,
.da-arrows{
	display: none;
}*/


.da-slider{
	width: 100%;
	min-width: 320px;
	height: 520px;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: "OpenHuninn", "Istok Web", "HelveticaNeue", "Helvetica Neue", "微軟正黑體", Helvetica, Arial, sans-serif;
	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link {
	z-index: 8000;
	position: absolute;
	opacity: 0;
	left: 10%;
}
.da-slide .da-img {
	z-index: 1000;
	position: absolute;
	opacity: 0;
	right: 0;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	left: 10%;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	right:0;
	opacity: 1;
}
.da-slide h2{
	color: #39394A;
	font-size: 46px;
	width: 50%;
	top: 110px;
	white-space: nowrap;
	z-index: 10;
	font-family: "OpenHuninn", "Istok Web", "HelveticaNeue", "Helvetica Neue", "微軟正黑體", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.da-slide p{
	width: 45%;
	max-width: 540px;
	top: 190px;
	color: #63637B;
	font-size: 18px;
	line-height: 28px;
	height: 80px;
	font-family: "OpenHuninn", "Istok Web", "HelveticaNeue", "Helvetica Neue", "微軟正黑體", Helvetica, Arial, sans-serif;
	font-weight: 400;
}
.da-slide .da-img{
	text-align: center;
	height: 520px;
	width: 40vw;
	line-height: 520px;
	right: 0; /*60%*/
}
.da-slide .da-img img{
	width: 40vw;
	height: 100%;
	object-fit: cover;
}
.da-slide .da-link {
	top: 326px;
	border-radius: 4px;
	color: #FA494C;
	border: 1px solid #FA494C;
	padding: 3px 20px 3px;
	font-size: 14px;
	line-height: 30px;
	width: 160px;
	text-align: center;
	text-decoration: none;
	transition: 250ms;
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 18px;
	z-index: 2000;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(200,200,200,0.5);
	margin: 3px 6px;
	cursor: pointer;
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	background: #FA494C;
/*	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.da-arrows span {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  z-index: 2000;
  top: 44%;
  backface-visibility: hidden;
}

.da-arrows span::before,
.da-arrows span::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100px;
  background: #FA494C;
  transition: all 100ms ease-in-out;
}

.da-arrows span::before {
  transform: rotate(-50deg);
}

.da-arrows span::after {
  transform: rotate(50deg);
}

.da-arrows span.da-arrows-prev,
.da-arrows span.da-arrows-next {
  width: 30px;
  height: 70px;
}
.da-arrows span.da-arrows-prev {
  left: 15px
}
.da-arrows span.da-arrows-next {
  right: 15px
}

.da-arrows span.da-arrows-prev::before,
.da-arrows span.da-arrows-next::before,
.da-arrows span.da-arrows-prev::after,
.da-arrows span.da-arrows-next::after {
  width: 30px;
  height: 2px;
  top: 50%;
  left: 0;
}

.da-arrows span.da-arrows-prev::before,
.da-arrows span.da-arrows-prev::after {
  transform-origin: 0% 50%;
}

.da-arrows span.da-arrows-next::before,
.da-arrows span.da-arrows-next::after {
  transform-origin: 100% 50%;
}

.da-arrows span:hover:before {
  transform: rotate(-40deg);
  background: #FA494C;;
}

.da-arrows span:hover:after {
  transform: rotate(40deg);
  background: #FA494C;;
}

.da-arrows span:active:before {
  transform: rotate(-30deg);
}

.da-arrows span:active:after {
  transform: rotate(30deg);
}

/*.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}*/

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
	left: 10%;
	opacity: 1;
}
.da-slide-current .da-img{
	right:0;
	opacity: 1;
}


/* #Desktop (large width)
================================================== */
	
	/* Note: Design for a width of 1500px */

    @media only screen and (min-width: 1500px) {
    .da-slide p{
	width: 35%; }
    }

    @media only screen and (min-width: 960px) and (max-width: 1190px) {
    .da-slider{
    	height: 460px;
    	}
    .da-slide p{
		width: 40%;
		}
    .da-slide .da-img {
    	height: 460px;
    	width: 460px;
    }
    .da-slide .da-img img {
    	height: 460px;
    	width: 460px;
    	}
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
    .da-slider{
    	height: 460px;
    	}
    .da-slide h2{
		font-size: 32px;
		top: 96px;
		}
	.da-slide p{
		font-size: 15px;
		top: 165px;
		width: 30%;
		}
	.da-slide .da-img {
    	height: 460px;
    	width: 460px;
    }
    .da-slide .da-img img {
    	height: 460px;
    	width: 460px;
    	}
	.da-slide .da-link{
		top: 336px;
		}
    }



    @media only screen and (min-width: 481px) and (max-width: 767px) {
    .da-slide{
    	text-align: center;
    	}
    .da-slider{
    	height: 140vw;
		min-height: 700px;
    	}
    .da-slide h2,
    .da-slide p,
    .da-slide .da-img {
    	position:absolute;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
    	}
    .da-slide h2{
		font-size: 28px;
		top: 40px;
		text-align: center;
		width: 80%;
		}
	.da-slide p{
		font-size: 14px;
		top: 100px;
		width: 80%;
		}
	.da-slide .da-img{
		height: auto;
		width: 100%;
		top: 40vw;
		}
	.da-slide .da-img img{
		width: 100%;
		height: auto;
		}
	.da-slide .da-link{
		display: none;
		}
    }



    @media only screen and (max-width: 480px) {
    
    .da-slider{
    	height: 140vw;
		max-height: 700px;
    	}
    .da-slide h2,
    .da-slide p,
    .da-slide .da-img {
    	position:absolute;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
    	}
    .da-slide h2 {
    	font-size: 26px;
		line-height: 40px;
    	top: 40px;
		text-align: center;
		width: 85%;
    	}
    .da-slide p {
    	font-size: 14px;
    	line-height: 26px;
		top: 100px;
		text-align: center;
    	width: 85%;
    	}
    .da-slide .da-img {
		height: auto;
		width: 100%;
		top: 40vw;
		}
	.da-slide .da-img img {
		top: 0px;
		width: 100%;
		height: auto;
		vertical-align: top;
		}
	.da-slide .da-link{
		display: none;
		}
    }



/* Animation classes and animations */


@-webkit-keyframes fade-in {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
@-webkit-keyframes fade-out {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}
@keyframes fade-in {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes fade-out {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}
@-moz-keyframes fade-in {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
@-moz-keyframes fade-out {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}
@-o-keyframes fade-in {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
@-o-keyframes fade-out {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}
@-ms-keyframes fade-in {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
@-ms-keyframes fade-out {
	0%{ opacity: 1; }
	100%{ opacity: 0; }
}


/*----------------to next----------------*/

.da-slide-fromright h2{
	-webkit-animation: fade-in 1.6s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.6s ease-in-out 1.4s both;
	-o-animation: fade-in 1.6s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.6s ease-in-out 1.4s both;
	animation: fade-in 1.6s ease-in-out 1.4s both;
}
.da-slide-fromright p{
	-webkit-animation: fade-in 1.6s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.6s ease-in-out 1.4s both;
	-o-animation: fade-in 1.6s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.6s ease-in-out 1.4s both;
	animation: fade-in 1.6s ease-in-out 1.4s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fade-in 1.8s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.8s ease-in-out 1.4s both;
	-o-animation: fade-in 1.8s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.8s ease-in-out 1.4s both;
	animation: fade-in 1.8s ease-in-out 1.4s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fade-in 2.4s ease-in-out 1.8s both;
	-moz-animation: fade-in 2.4s ease-in-out 1.8s both;
	-o-animation: fade-in 2.4s ease-in-out 1.8s both;
	-ms-animation: fade-in 2.4s ease-in-out 1.8s both;
	animation: fade-in 2.4s ease-in-out 1.8s both;
}





.da-slide-toleft h2{
	-webkit-animation: fade-out 1s ease-in-out both;
	-moz-animation: fade-out 1s ease-in-out both;
	-o-animation: fade-out 1s ease-in-out both;
	-ms-animation: fade-out 1s ease-in-out both;
	animation: fade-out 1s ease-in-out both;
}
.da-slide-toleft p{
	-webkit-animation: fade-out 1s ease-in-out 0.3s both;
	-moz-animation: fade-out 1s ease-in-out 0.3s both;
	-o-animation: fade-out 1s ease-in-out 0.3s both;
	-ms-animation: fade-out 1s ease-in-out 0.3s both;
	animation: fade-out 1s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: fade-out 1s ease-in-out 0.4s both;
	-moz-animation: fade-out 1s ease-in-out 0.4s both;
	-o-animation: fade-out 1s ease-in-out 0.4s both;
	-ms-animation: fade-out 1s ease-in-out 0.4s both;
	animation: fade-out 1s ease-in-out 0.4s both;
}
.da-slide-toleft .da-img{
	-webkit-animation: fade-out 1.2s ease-in-out 0.6s both;
	-moz-animation: fade-out 1.2s ease-in-out 0.6s both;
	-o-animation: fade-out 1.2s ease-in-out 0.6s both;
	-ms-animation: fade-out 1.2s ease-in-out 0.6s both;
	animation: fade-out 1.2s ease-in-out 0.6s both;
}



/*----------------to prev----------------*/

.da-slide-fromleft h2{
	-webkit-animation: fade-in 1.4s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.4s ease-in-out 1.4s both;
	-o-animation: fade-in 1.4s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.4s ease-in-out 1.4s both;
	animation: fade-in 1.4s ease-in-out 1.4s both;
}
.da-slide-fromleft p{
	-webkit-animation: fade-in 1.4s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.4s ease-in-out 1.4s both;
	-o-animation: fade-in 1.4s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.4s ease-in-out 1.4s both;
	animation: fade-in 1.4s ease-in-out 1.4s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fade-in 1.6s ease-in-out 1.4s both;
	-moz-animation: fade-in 1.6s ease-in-out 1.4s both;
	-o-animation: fade-in 1.6s ease-in-out 1.4s both;
	-ms-animation: fade-in 1.6s ease-in-out 1.4s both;
	animation: fade-in 1.6s ease-in-out 1.4s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fade-in 2s ease-in-out 1s both;
	-moz-animation: fade-in 2s ease-in-out 1s both;
	-o-animation: fade-in 2s ease-in-out 1s both;
	-ms-animation: fade-in 2s ease-in-out 1s both;
	animation: fade-in 2s ease-in-out 1s both;
}






.da-slide-toright h2{
	-webkit-animation: fade-out 1s ease-in-out 0.4s both;
	-moz-animation: fade-out 1s ease-in-out 0.4s both;
	-o-animation: fade-out 1s ease-in-out 0.4s both;
	-ms-animation: fade-out 1s ease-in-out 0.4s both;
	animation: fade-out 1s ease-in-out 0.4s both;
}
.da-slide-toright p{
	-webkit-animation: fade-out 1s ease-in-out 0.3s both;
	-moz-animation: fade-out 1s ease-in-out 0.3s both;
	-o-animation: fade-out 1s ease-in-out 0.3s both;
	-ms-animation: fade-out 1s ease-in-out 0.3s both;
	animation: fade-out 1s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: fade-out 1s ease-in-out 0.2s both;
	-moz-animation: fade-out 1s ease-in-out 0.2s both;
	-o-animation: fade-out 1s ease-in-out 0.2s both;
	-ms-animation: fade-out 1s ease-in-out 0.2s both;
	animation: fade-out 1s ease-in-out 0.2s both;
}
.da-slide-toright .da-img{
	-webkit-animation: fade-out 0.8s ease-in-out 0.2s both;
	-moz-animation: fade-out 0.8s ease-in-out 0.2s both;
	-o-animation: fade-out 0.8s ease-in-out 0.2s both;
	-ms-animation: fade-out 0.8s ease-in-out 0.2s both;
	animation: fade-out 0.8s ease-in-out 0.2s both;
}